body,
#wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

h2 {
    border-bottom: 1px solid rgb(196, 195, 195);

}

p {
    color: black;
}



/* ボックスのメインクラス */
.box2 {
    width: 200px;
    margin: 0 auto;
}

/* ボックスの画像クラス */
.box1 {
    margin-top: 40px;
    margin-bottom: 40px;
    display: flex;
    width: 550pt;
    height: 400px;
    margin-left: 300px;
    color: #5d627b;
    background: white;
    border-top: solid 5px #5d627b;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.22);
}

.box1 p {
    margin: 20px;
    font-size: 15px;
    padding-left: 5px;
}

/* 画像の中身 */
.mainImage {
    border: 2px solid #333;
}

.thumb {
    /* position: relative;
    top: 300px;
    left: -250px; */
    border: 2px solid #333;
}


/* 画像の中身 */
.mainImage2 {
    border: 2px solid #333;
}

.thumb2{
    /* position: relative;
    top: 300px;
    left: -250px; */
    border: 2px solid #333;
}

/* 画像の中身 */
.mainImage3 {
    border: 2px solid #333;
}

.thumb3 {
    /* position: relative;
    top: 300px;
    left: -250px; */
    border: 2px solid #333;
}


/* 駐車場とかの枠部分 */
.sample_box1 {
    width: 90px;
    padding: 0.5em;
    margin: 2em 0;
    border-radius: 50px;
    /*角の丸み*/
    border: solid 2px #9d9d9d;
    /*線*/
}

.sample_box1 p {
    font-size: 12px;
    margin: 0;
    padding: 0;
}


/* コメント枠の部分 */
.sample_box7 {
    width: 250px;
    padding: 0.7em 1.5em;
    margin-left: -40px;
    background-color: #fff0f5;
    /*背景色*/
    border: 1px solid #9370db;
    /*線*/
    color: #000000;
    /*文字色*/
    border-radius: 10px;
    /*角の丸み*/
}

.sample_box7 p {
    margin: 0;
    padding: 0;
}

.area p {
    font-size: 12px;
}

.fuku h2{
    font-size: 20px;
}