<<<<<<< HEAD
/* ジャンルのcss */
#wrapper nav {
    position: absolute;
    top: 80px;
    left: -300px;
    width: 300px;
    height: 490px;
    padding-top: 50px;
    background: rgba(33, 33, 33, .9);
    font-size: 16px;
    box-sizing: content-box;
    /*要素の幅が、marginとpaddingを含めた幅になる*/
    z-index: 1;
    /*重なりの順序の指定(今回の場合、上から2番目に配置)*/
    transition: all 500ms
        /*アニメーションの時間設定*/
}

#wrapper nav ul li {
    padding: 10px 10px;
    list-style: none;
}

#wrapper nav ul li a {
    text-decoration: none;
    color: #ddd
}

#wrapper h1 {
    color: red;
}

#wrapper .btn-gnavi {
    position: absolute;
    /*要素の位置を固定*/
    top: 145px;
    left: 20px;
    width: 30px;
    height: 24px;
    z-index: 2;
    /*重なりの順序の指定(今回の場合、一番上に配置(三本線/矢印部分))*/
    box-sizing: border-box;
    cursor: pointer;
    transition: all 400ms
}

#wrapper .btn-gnavi span {
    position: absolute;
    /* 親を基準に絶対位置を指定(上下左右の指定がない場合は0px) */
    width: 30px;
    height: 4px;
    background: #ffff;
    border-radius: 10px;
    transition: all 400ms
}

#wrapper .btn-gnavi span:nth-child(1) {
    top: 0
}

#wrapper .btn-gnavi span:nth-child(2) {
    top: 10px
}

#wrapper .btn-gnavi span:nth-child(3) {
    top: 20px
}

#wrapper .btn-gnavi.open {
    transform: rotate(180deg);
    /*矢印を反転*/
}

#wrapper .btn-gnavi.open span {
    background: #fff
}

#wrapper .btn-gnavi.open span:nth-child(1) {
    width: 24px;
    /* 一番上の線を変形して、矢印を作る */
    transform: translate(-35px, 17px) rotate(45deg)
}

#wrapper .btn-gnavi.open span:nth-child(2) {
    width: 30px;
    /* 一番上の線を変形して、矢印を作る */
    transform: translate(-30px, 0px) rotate(180deg)
}


#wrapper .btn-gnavi.open span:nth-child(3) {
    width: 24px;
    /* 一番下の線を変形して、矢印を作る */
    transform: translate(-35px, -17px) rotate(-45deg)
}

.border-radius {
    position: absolute;
    width: 50px;
    height: 50px;
    line-height: 100px;
    background-color: #000;
    border-radius: 50%;
    color: #fff;
    margin-left: 25px;
    top: 135px;
}

@media screen and (min-width: 767px) { /*ウィンドウ幅が767px以上の場合に適用*/
    
}


/* 画像のcss */
.album {
    margin: auto;
    background-color: #eee6ff;
    position: relative;
}

.album img {
    display: flex;
    animation-name: album;
    -webkit-animation-name: album;
    animation-duration: 10s;
    -webkit-animation-duration: 10s;
    animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
    opacity: 0;
    flex-basis: 90%;

}

.album .img1 {
    width: 99%;
    height: 350px;
    display: block;
    margin: 10px 5px;
    position: absolute;
    top: 140px;
=======
.tytle {
    font-size: 160%;
    background-image: url("../img/font2.jpg");
    /* 切り抜きたい画像 */
    -webkit-background-clip: text;
    /* 画像を文字で切り抜く指定 */
    color: transparent;
    top: 20px;
}

/* 画像のcss */
#album {
    margin: auto;
    background-color: #eee6ff;
    position: relative;
    opacity: 0.9;
}

#album img {
    display: flex;
    flex-basis: 90%;
    transition: .8s;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
}

#album img.show {
    opacity: 1;
  }
#album .img1 {
    width: 99%;
    height: 650px;
    display: block;
    margin: 10px 5px;
    position: absolute;
    top: 290px;
>>>>>>> kuzumaki
    left: 50%;
    transform: translate(-50%, -50%);
    object-fit: cover;
}


<<<<<<< HEAD
.album .img2 {
    width: 99%;
    height: 350px;
    animation-delay: 5s;
    -webkit-animation-delay: 5s;
    position: absolute;
    display: block;
    margin: 10px 5px;
    position: absolute;
    top: 140px;
    left: 50%;
    transform: translate(-50%, -50%);
    object-fit: cover;

}


@keyframes album {
    0% {
        opacity: 0;
    }

    12.5% {
        opacity: 1;
    }

    37.5% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }
}

@-webkit-keyframes album {
    0% {
        opacity: 0;
    }

    12.5% {
        opacity: 1;
    }

    37.5% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }
}

h2 {
    margin-top: 500px;
    padding: 20px;
}

.questionnaire a{
=======
#album .img2 {
    width: 99%;
    height: 650px;
    display: block;
    margin: 10px 5px;
    position: absolute;
    top: 290px;
    left: 50%;
    transform: translate(-50%, -50%);
    object-fit: cover;
}


h1 {
    margin-top: 750px;
    padding: 20px;
    font-family: 'Bangers', cursive;
    font-size: 30px;
}

.questionnaire a {
>>>>>>> kuzumaki
    position: fixed;
    text-decoration: none;
    padding: 0.5em 2em;
    margin: 26em 0;
    top: 145px;
    right: 10px;
    font-weight: bold;
    color: #ffffff;
    /*文字色*/
    background: rgb(0, 0, 0);
    border: solid 3px #fff;
    /*線*/
    border-radius: 20px;
    /*角の丸み*/
}

<<<<<<< HEAD
=======
@media screen and (min-width: 767px) {
    /*ウィンドウ幅が767px以上の場合に適用*/

}

h2 {
    border-bottom: 1px solid rgb(196, 195, 195);

}

p {
    color: black;
}



/* ボックスのメインクラス */
.box2 {
    width: 200px;
    margin: 0 auto;
}

/* ボックスの画像クラス */
.box1 {
    margin-top: 40px;
    margin-bottom: 40px;
    display: flex;
    width: 550pt;
    height: 400px;
    margin-left: 330px;
    color: #5d627b;
    background: white;
    border-top: solid 5px #5d627b;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.22);
}

.box1 p {
    margin: 20px;
    font-size: 15px;
    padding-left: 5px;
}

/* 画像の中身 */
.mainImage {
    border: 2px solid #333;
}

.thumb {
    /* position: relative;
    top: 300px;
    left: -250px; */
    border: 2px solid #333;
}


/* 画像の中身 */
.mainImage2 {
    border: 2px solid #333;
}

.thumb2 {
    /* position: relative;
    top: 300px;
    left: -250px; */
    border: 2px solid #333;
}

/* 画像の中身 */
.mainImage3 {
    border: 2px solid #333;
}

.thumb3 {
    /* position: relative;
    top: 300px;
    left: -250px; */
    border: 2px solid #333;
}


/* 駐車場とかの枠部分 */
.sample_box1 {
    width: 90px;
    padding: 0.5em;
    margin: 2em 0;
    border-radius: 50px;
    /*角の丸み*/
    border: solid 2px #9d9d9d;
    /*線*/
}

.sample_box1 p {
    font-size: 12px;
    margin: 0;
    padding: 0;
}


/* コメント枠の部分 */
.sample_box7 {
    width: 250px;
    padding: 0.7em 1.5em;
    margin-left: -40px;
    background-color: #fff0f5;
    /*背景色*/
    border: 1px solid #9370db;
    /*線*/
    color: #000000;
    /*文字色*/
    border-radius: 10px;
    /*角の丸み*/
}

.sample_box7 p {
    margin: 0;
    padding: 0;
}

.area p {
    font-size: 12px;
}

.fuku h2 {
    font-size: 20px;
}

.fuku img {
    width: 40px;
    height: 20px;
    vertical-align: -3px;
}


.theme {
    /*親div*/
    position: relative;
    /*相対配置*/
}

.theme p {
    position: absolute;
    /*絶対配置*/
    color: rgb(0, 0, 0);
    /*文字は白に*/
    font-weight: bold;
    /*太字に*/
    font-size: 4em;
    /*サイズ4倍*/
    font-family: "PottaOne-Regular";
    top: 200px;
    left: 30%;
}

@font-face {
    font-family: "PottaOne-Regular";
    src: url(../PottaOne-Regular.ttf);
}
>>>>>>> kuzumaki
