* {
    margin: 0px;
    padding: 0px;

}

body {
    margin: 0;
    height: 100%;
    text-align: center;
    margin-bottom: 5% auto;
    /* background-color: #eee6ff; */
    /* background-color: #fdd160; */
    background-color: #f5a645;
    background-image: url("../img/mori.jpg");
    /* background-color:rgba(255, 239, 119, 0.926); */
    background-blend-mode: lighten;

}

/* タイトルのcss */
.tytle {
    font-size: 160%;
    background-image: url("../img/font2.jpg");
    /* 切り抜きたい画像 */
    -webkit-background-clip: text;
    /* 画像を文字で切り抜く指定 */
    color: transparent;
}

/* ヘッダーのcss */
header {
    display: flex;
    height: 80px;
    align-items: center;
    padding: 0 30px;
    box-shadow: 1px 1px 5px #000;
    margin-bottom: 30px;
    background-color: #ffff;
    font-family: "Yu Gothic Medium", "游ゴシック Medium", "Yu Gothic", "游ゴシック", YuGothic, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo";
    font-size: 16px;
}

header nav {
    margin-left: auto;
    list-style: none;

}

header ul {
    display: flex;
    list-style: none;
}

header li {
    border-right: 2px solid #333;
    padding: 10px;
}

header li+li {
    border-left: 0;
    border-right: 2px solid #333;

}

header ul li {
    margin-left: 20px;
    list-style: none;
}

.li2 {
    list-style: none;
    background-color: black;
    color: white;

}

/* カーソルを合わせた時のcss */
.headers {
    color: black;
}

.headers2 {
    color: black;
}

.headers3 {
    color: #ffff;
}

.headers3:hover {
    color: #f25042;

}

.headers2:hover {
    color: #f25042;

}

.headers:hover {
    color: #f25042;
}

.rame1:hover {
    color: #FF0000;
    font-size: 15px;
    font-weight: bold;
}

/* フッターのcss */
footer {
    margin-top: auto;

}

.sfooter {
    background-color: #000;
    height: 60px;
    color: white;

    font-weight: bold;
    margin-bottom: 0;
    margin: auto 0;
}

small {
    width: 100%;
    
}


.sub {
    font-size: 5px;
    display: inline;
}



header a {
    display: inline-block;
    position: relative;
    overflow: hidden;
    color: #fff;
    text-decoration: none;
}

header a:after {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: rgb(0, 0, 0);
    transform: translate(-100%, 0);
    transition: transform cubic-bezier(0.215, 0.61, 0.355, 1) 0.4s;
    content: "";
}

header a:hover:after {
    transform: translate(0, 0);
}

headerli {
    list-style: none;
    margin: 10px 0;
}


.icon{
    margin-left: 700px;
}